# ignore everything by default
*

# Allowing the following directories use !/<pattern>/
!/inc/
!/src/
!/test/
!/test/inc/
!/test/src/

# Allowing the following files use !/<pattern>
!/README.md
!**/.gitignore
!**/Makefile
!**/inc/*.h
!**/src/*.cpp

